{% extends "base.html" %}

{% block header %}
<a class="btn" href="/logout">Logout</a>
{% endblock %}

{% block content %}
<form method="post">
  {{ single_form.hidden_tag() }}
  <h1>Invite a new user to {{ config.ORG_NAME }}</h1>
  <div>
    {{ single_form.email.label }}<br>
    {{ single_form.email() }}<br>
    {% for error in single_form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <br>
  {{ single_form.submit_single() }}
</form>

<form method="post">
  {{ bulk_form.hidden_tag() }}
  <h1>Invite new users to {{ config.ORG_NAME }} in bulk</h1>
  <div>
    {{ bulk_form.emails.label }}<br>
    {{ bulk_form.emails() }}<br>
    {% for error in bulk_form.emails.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <br>
  {{ bulk_form.submit_bulk() }}
</form>
{% endblock %}
