{% extends "base.html" %}

{% block header %}
<a class="btn" href="/logout">Logout</a>
{% endblock %}

{% block content %}

{# picture at top or else it looks weird #}
{% if 'picture' in config.USER_FIELDS %}
<img src="{{ profile.picture }}" height="100" width="100">
{% endif %}

{# always show email #}
<h3>Email</h3>
{{ profile.email }}

{% for field in config.USER_FIELDS | reject('==', 'picture') %}
<h3>{{ labels[field] }}</h3>
{{ profile[field] }}
{% endfor %}

<form action="{{ url_for('my_account_edit') }}">
    <input type="submit" value="Edit" />
</form>
{% endblock %}
