{% extends "base.html" %}

{% block content %}
<div class="card">
    {% if 'picture' in config.USER_FIELDS %}
    <div class="card-image">
        <img src="{{ profile.picture }}" >
    </div>
    {% endif %}
    <div class="card-content">
        <table class="table is-fullwidth">
            {# always show email #}
            <tr>
                <td>Email</td>
                <td>{{ profile.email }}</td>
            </tr>

            {% for field in config.USER_FIELDS | reject('==', 'picture') %}
            <tr>
            <td>{{ labels[field] }}</td>
            <td>{{ profile[field] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer class="card-footer">
        <a class="button is-link" href="{{ url_for('my_account_edit') }}">Edit</a>
        <a class="button is-link mx-1" href="{{ url_for('password_reset') }}">Change password</a>
    </footer>
</div>
{% endblock %}


