{% extends "base.html" %}

{% block content %}
<div class="card">
    <form method="post">
    {{ form.hidden_tag() }}
        <div class="card-content">
            <p class="title">Welcome to {{ config.ORG_NAME }}! </p>
            <p class="subtitle">Let's get you signed up.</p>
            {% for field in config.REQUIRED_USER_FIELDS %}
            <div class="field">
                <label class="label">{{ form[field].label }}</label>
                {{ form[field](class_="input", type="text") }}
                {% for error in form[field].errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="field">
                <label class="label" id="password-label"> {{ form.password.label }}</label>
                {{ form.password(class_="input", type="password", **{"aria-labelledby": "password-label"}) }}
                {% for error in form.password.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                <label class="label" id="confirm-password-label">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(class_="input", type="password", **{"aria-labelledby": "confirm-password-label"}) }}
            </div>
            <br>
            <section class="content is-family-secondary">
                <p>Requirements:</p>
                <ul>
                    <li>eight or more characters</li>
                    <li>one or more lowercase letters</li>
                    <li>one or more uppercase letters</li>
                    <li>one or more numbers</li>
                    <li>one or more special characters</li>
                </ul>
            </section>
        </div>
        <footer class="card-footer">
            {{ form.submit(class_="button is-link") }}
        </footer>
    </form>
</div>
{% endblock %}
